* {box-sizing:border-box; font-family: Raleway; }

#fixedheader {
  background: black;
  text-align: center;
  text-align: right;
  width: 100%;
  
}

a:link {
  
  text-decoration: none;
  
}

#introblock {
    
  background-color: #263d36;
  background-image: url("https://source.unsplash.com/category/nature");
  background-position: center top;
  background-color: #263d36;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  width: 103%;
  height: 575px;
  text-align: center;
  alignment: auto;
  border-radius: 20px;
  margin-left: -20px;
  
}

#headerimg {
  
  border-radius: 300px;
  height: 120px;
  width: 120px;
  display: inline;
    
}

.headericons {
  
  margin: 0px;
  padding: 0px;
  
}
#projectblock {

  height: 350px;
  color: black;
  background: #ff8429;
  
}

.moreprojects {
  
  width: 100%;
  height: 350px;
  color: black;
  display: block;
  background: white;
 
  
}

h2 {
  
  padding: 0px;
  margin: 0px;
  
}

#toolsblock {
  
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 350px;
  color: black;
  background: lightgrey;
  border-radius: 20px;
  box-shadow: 0 0 0 10px lightgrey;
  vertical-alignment: 50%;
  
}

#git {
  
  margin-top: -50px;
  
}

#sublime {
  
  margin-top: 50px;
  
}

#gimp {
  
  margin-top: -50px;
  
  
}

#contactblock {
  margin: 2px;
  width: 100%;
  height: 120px;
  color: black;
  background: #2BB5B4;
  border-radius: 0px;
     
}


#togethermarg {
  
  padding: 2px;
  margin:  2px;
  margin-right: -1px;
  margin-left: -1px;
  background: #2BB5B4;
  
}

#together {
  font-weight: bold;
  color: darkorange;
  background: #2BB5B4;
  margin-top: -10px;
  margin-bottom: 5px;
  
}